---
---
@import "modified-cayman";

.page-header {
  display: none;
}

.wash-logo {
  height: 3rem;
  margin-right: 0.75rem;
}

.sidebar {
  padding: 2rem;
  background: $sidebar-background;
  grid-area: sidebar;
}

.main-content {
  margin: 0;
  grid-area: content;
}

.main-content h1:first-of-type img {
  height: 2rem;

  @include large {
    display: none;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "content" "sidebar";
  width: 100%;
  max-width: 100rem;

  @include large {
    grid-template-columns: 20em auto;
    grid-template-areas: "sidebar content";
  }
}

.nav-list {
  list-style: none;

  padding: 0px;
}

.nav-list > li {
  margin-bottom: 1rem;
}

.nav-header {
  font-weight: bold;
  color: $body-text-color;
}

ol ol {
  list-style-type: lower-alpha;
  ol {
    list-style-type: lower-roman;
  }
}

.intro-normal {
  margin: 0;
  font-size: 28px;
}

h1 + .intro-normal {
  margin-top: 30px;
}

.intro-large {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
}

.intro-large + ul {
  margin-top: -20px;
}

.flex-row {
  display: flex
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  text-align: center;
}

.pad-left {
  padding-left: 1.5rem;
}

.version {
  font-size: 20px;
  white-space: nowrap;
  text-decoration: underline;
}

.demo-select {
  margin-bottom: -5px;
}

.demo-select select {
  background-color: black;
  color: #d3d3d3;
  font-size: 20px;
  font-weight: bolder;
}