body {
    font-family: 'Merriweather';
    font-size: 1.0rem;
    margin-top: 0;
    margin-bottom: 0;
}

code {
    background-color: #e0f2f1;
    font-size: 1.0rem;
    font-family: 'IBM Plex Mono';
    font-weight: 500;
}

a {
    color: #0076BA;
}

ul {
    list-style-type: disc;
}

h2 {
    padding-top: 1em;
}

h2:nth-of-type(1) {
    padding-top: 0;
}

#horizontalmenu {
    text-align: center;
}

#horizontalmenu a {
    margin: 0 10px;
    font-family: 'Comfortaa';
    font-variant: small-caps;
    color: #004D7F;
}

a:visited {
    color: #531B93;
    color: #0076BA;
}

div.header {
    margin: 0;
    margin-bottom: 30px;
    padding: 7px;
    border-top: 9px solid #3880ff;
}

div.header h1 {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa';
    font-variant: small-caps;
    border: 0;
}

div.header-menu a {
    margin-left: 3px;
}

div.header a {
    color: #004D7F;
}

div.header a:visited {
    color: #004D7F;
}

div.footer {
    margin: 0;
    margin-top: 10px;
    padding: 10px;
    border: 0;
    border-top: 9px solid #3880ff;
    font-family: 'Comfortaa';
}

blockquote {
    border-left: 10px;
    border-left-style: solid;
    border-left-color: #ccc;
    padding-left: 10px;
}
